In [1]:
from zipfile import ZipFile
from pathlib import Path
import os
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np

In [2]:
p = Path()
cur_dir = p.cwd()
with ZipFile(p.joinpath(cur_dir, 'data', 'html_job_postings.zip')) as zipfile:
    zipfile.extractall(p.joinpath(cur_dir, 'html_job_postings'))

In [3]:
all_resumes =os.listdir(p.joinpath(cur_dir, 'html_job_postings', 'html_job_postings'))

In [29]:
data = []
for resume in all_resumes:
    with open(p.joinpath(cur_dir, 'html_job_postings', 'html_job_postings', resume)) as html_file:
        soup = bs(html_file)
        title = soup.find('title').text.lower()
        all_list_items = list(filter(lambda x: x, [li.text.lower().strip("\n") for li in soup.find_all('li')]))
        datum = [resume, title, all_list_items]
        data.append(datum)
            
raw_dataframe = pd.DataFrame(data, columns=['file', 'title', 'bullets'])
raw_dataframe.drop_duplicates(['title'], inplace=True)

0       jr. data scientist - technology associate prog...
1              nosql database administrator - houston, tx
2                   senior data engineer - reno, nv 89501
3       director, data scientist, natural language pro...
4                    data science consultant - boston, ma
                              ...
1332    manager, natural language processing data scie...
1333                    data scientist - denver, co 80221
1334             data scientist i-iii - phoenix, az 85021
1335    data analytics instructor - uc berkeley (belmo...
1336    2020 summer intern: modeling analyst - charlot...
Name: title, Length: 1235, dtype: object

In [39]:
is_data_related = dataframe[dataframe['title'].str.contains('data')].reset_index(drop=True)
is_data_related.to_csv(p.joinpath(cur_dir, 'extracted.csv'))

In [40]:
extracted = pd.read_csv(p.joinpath(cur_dir, 'extracted.csv'))
print(extracted)

     Unnamed: 0                         file  \
0             0  a146948338c8d67e_fccid.html
1             1  7184ee7926e95ed4_fccid.html
2             2  09c19480dbe9952f_fccid.html
3             3                      _p.html
4             4  aa9724a64d565b3d_fccid.html
..          ...                          ...
601        1331  34daff62bfb450bd_fccid.html
602        1332  38527c8a5b5570a1_fccid.html
603        1333  4f1f34e05be5bcf8_fccid.html
604        1334  4a66d527c9dc6a33_fccid.html
605        1335  5af3fe8069da81c9_fccid.html

                                                 title  \
0    jr. data scientist - technology associate prog...
1           nosql database administrator - houston, tx
2                senior data engineer - reno, nv 89501
3    director, data scientist, natural language pro...
4                 data science consultant - boston, ma
..                                                 ...
601      junior data scientist - los angeles, ca 90048
602  manager, natural language processing data scie...
603                  data scientist - denver, co 80221
604           data scientist i-iii - phoenix, az 85021
605  data analytics instructor - uc berkeley (belmo...

                                               bullets
0    ['technical training to enhance your skills wi...
1    ['implement ha solution and define backup/reco...
2    ['creating and refining bounded (batch) and un...
3    ['lead workshops, innovation sessions with cli...
4                                                   []
..                                                 ...
601  ['translate business requirements into researc...
602  ['lead workshops and innovation sessions with ...
603  ['design experiments and formulate machine lea...
604                                                 []
605  ['lead lectures and educational coding activit...

[606 rows x 4 columns]